snowflake-snowpark-python
snowflake-ml-python==1.3.1
pandas==1.5.3
numpy==1.26.3
scikit-learn==1.2.2
xgboost==1.7.3
seaborn==0.12.2
matplotlib==3.8.0
plotly
cloudpickle==2.2.1
joblib==1.2.0
cachetools
jupyter==1.0.0
imbalanced-learn==0.10.1